[submodule "pack/ellisonleao/start/gruvbox.nvim"]
	path = pack/ellisonleao/start/gruvbox.nvim
	url = git@github.com:ellisonleao/gruvbox.nvim.git
[submodule "pack/hrsh7th/start/cmp-buffer"]
	path = pack/hrsh7th/start/cmp-buffer
	url = git@github.com/hrsh7th/cmp-buffer
[submodule "pack/hrsh7th/start/cmp-cmdline"]
	path = pack/hrsh7th/start/cmp-cmdline
	url = git@github.com:hrsh7th/cmp-cmdline.git
[submodule "pack/hrsh7th/start/cmp-nvim-lsp"]
	path = pack/hrsh7th/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "pack/hrsh7th/start/cmp-nvim-lua"]
	path = pack/hrsh7th/start/cmp-nvim-lua
	url = git@github.com:hrsh7th/cmp-nvim-lua.git
[submodule "pack/hrsh7th/start/cmp-path"]
	path = pack/hrsh7th/start/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
[submodule "pack/hrsh7th/start/nvim-cmp"]
	path = pack/hrsh7th/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
